<!DOCTYPE html>
<html lang="en">
{% include 'recipes/partials/head.html' %}

<body>
  {% include 'recipes/partials/header.html' %}
  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="container">
        <div id="content">
          <div class="card-title">
            <h1 class="title"> Cachorro-Quente</h1>
            <!-- <hr class="hr"> -->
            <span class="datatemp">
              <i></i>
              16/01/2023 às 10:15
            </span>
          </div>
          <div id="conteiner">
            <div id="sidebar">
              <div class="recipe-cover">
                <img src="https://rare-gallery.com/uploads/posts/858228-Fast-food-Buns-Hot-dog-Ketchup-Two.jpg" alt="hotdog" width="920px"
              </div>
             
            <div class="card cardtemp">
              <div class="">
                <h3>Ingredientes</h3>
                <hr>
                <li>4 colheres (sopa) de azeite</li>
                <li>3 dentes de alho picados</li>
                <li>1 xícara (chá) de cebola picada</li>
                <li>1 tablete de caldo de carne</li>
                <li>½ kg de carne moída</li>
                <li>3 xícaras (chá) de molho de tomate</li>
                <li>1 colher (sopa) de mostarda</li>
                <li>½ kg de salsicha ralada</li>
                <li>½ pimentão amarelo ralado</li>
                <li>Cheiro verde picado a gosto</li>
                <li>Pão de cachorro-quente para servir</li>

                <br>
                <br>
                <h3>Modo de Preparo</h3> 
                
                <p>- Em uma panela, refogue alho e cebola no azeite. Junte o caldo de carne e a carne moída e deixe até dourar. Acrescente o molho de tomate, a mostarda e deixe ferver em fogo baixo por 5 minutos. Junte o pimentão a amarelo e a salsicha ralada e quando ferver tempere com cheiro verde a gosto. Sirva no pão de cachorro-quente.</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>
               
              </div>
            </div>
          </div>
          <div class="card">
            <a class="card_rodape" href=".."> <p>Voltar</p> </a>
        </div>

        </div>

      </div>
      
    </div>
    
    
    
  </main>
</body>

</html>