<!DOCTYPE html>
<html lang="en">
{% include 'recipes/partials/head.html' %}

<body>
  {% include 'recipes/partials/header.html' %}
  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="container">
        <div id="content">
          <div class="card-title">
            <h1 class="title">Hambúrguer </h1>
            <!-- <hr class="hr"> -->
            <span class="datatemp">
              <i></i>
              16/01/2023 às 10:15
            </span>
          </div>
          <div id="conteiner">
            <div id="sidebar">
              <div class="recipe-cover">
                <img src="https://img.freepik.com/fotos-gratis/meia-dose-de-delicioso-sanduiche-de-carne-com-tomate-verde-na-bandeja-de-cor-escura-na-superficie-desfocada_179666-42599.jpg" alt="hambúrguer">
              </div>
             
            <div class="card cardtemp">
              <div class="">
                <h3>Ingredientes</h3>
                <hr>
                <li>Pão de hamburguer</li>
                <li>120 gramas de patinho moído</li>
                <li>40 gramas de bacon moído</li>
                <li>1 fatia grande de presunto cru</li>
                <li>3 fatias de queijo tipo gouda</li>
                <li>Tomatinhos-cereja picados a gosto</li>
                <li>Folhas de rúcula a gosto</li>
                <li>Folhas de agrião a gosto</li>
                <li>1/4 de limão tahiti</li>
                <li>Sal e pimenta-do-reino a gosto</li>
                <li>Azeite de oliva a gosto</li>
                <li>Cebola caramelizada</li>
                <li>1 cebola roxa</li>
                <li>2 colheres de sopa de óleo</li>
                <li>1 colher de sopa de açúcar</li>
                <br>
                <br>
                <h3>Modo de Preparo</h3>
                <p>- Corte uma cebola roxa em meias-luas. Leve a uma frigideira com óleo e jogue o açúcar sobre a cebola.

                  Deixe fritar por alguns minutos, mexendo de vez em quando para que as cebolas percam a acidez. Quando elas estiverem no ponto ao seu gosto, tire do fogo e reserve.
                  
                  Em uma tigela separada, tempere a salada de rúcula, agrião e tomatinhos com limão, azeite, sal e pimenta a gosto.
                  
                  Hambúrguer
                  
                  A sugestão do chef é que o bacon seja mais ou menos 1/4 ou 1/5 do hambúrguer. Para um preparado de 160 gramas de carne, usaremos então 40 gramas bacon, o que corresponde a 1/4 do total. Se você quiser fazer mais sanduíches, é só fazer a conta para manter essa proporção.
                  
                  Depois de moldado o hambúrguer no tamanho proporcional ao pão, leve-o a uma frigideira ou grelha já previamente aquecida e frite por três ou quatro minutos do primeiro lado. Tempere com um pouco de sal e pimenta-do-reino. Vire a carne, coloque as fatias de queijo e abafe com uma tampa. Depois de um minuto e meio o gouda já estará derretido e a carne, no ponto.
                  
                  Antes de montar o sanduíche, aqueça o pão no forno, mas não é preciso que ele fique torrado. Basta que fique quentinho.
                  
                  Monte o sanduíche com a carne, as cebolas e a salada. </p>
             
                <br>
                <br>
                <br>
                <br>
                <br>
               
              </div>
            </div>
          </div>
         

        </div>
        <div class="card">
          <a class="card_rodape" href=".."> <p>Voltar</p> </a>
      </div>
      </div>
      
    </div>
    
    
    
  </main>
</body>

</html>